@model KPI_Schedule.Models.Department

<table>
    <tr>
        <th>Faculty</th>
        <th>Name</th>
        <th>ShortName</th>
    </tr>
    <tr>
        <td>@Model.Faculty.ShortName</td>
        <td>@Model.Name</td>
        <td>@Model.ShortName</td>
    </tr>
</table>
<a asp-action="List">Go Back</a>