@model KPI_Schedule.Models.Teacher

<form asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Surname"></label>
    <input asp-for="Surname" />
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <input type="submit" value="Save" />
</form>
<a asp-action="List">Go Back</a>