@model KPI_Schedule.Models.Group

<table>
    <tr>
        <th>Department</th>
        <th>Name</th>
        <th>Course</th>
    </tr>
    <tr>
        <td>@Model.Department.ShortName</td>
        <td>@Model.Name</td>
        <td>@Model.Course</td>
    </tr>
</table>
<a asp-action="List">Go Back</a>